*.App
*.[oadi]
*.ass
*.avi
*.bz2
*.cache
*.dep
*.dll
*.dmg
*.exe
*.gch
*.gz
*.idb
*.ilk
*.log
*.manifest
*.mkv
*.mo
*.ncb
*.obj
*.orig
*.patch
*.pch
*.pdb
*.sdf
*.so
*.srt
*.suo
*.swp
*.ts
*.user
*.vsp
*.y4m
*.zip
*~
*.ldb

bin
lib
obj
ipch

.lvimrc
.syntastic_cpp_config
BuildLog.htm
Makefile.inc
acconf.h
acconf.h.in
aclocal.m4
autom4te.cache
config.log
config.status
config_windows.h
configure
svn-revision.h
svn_revision
svnmove.txt
git_version.h
git_version.xml
test.mdb

/packages
/deps
.nuget